//此文件用来提供项目中需要的公用mixin

@mixin border-top {
    position: relative;
    &::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background: #ededed;
        transform: scaleY(0.5);
    }
}

@mixin border-bottom {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #ededed;
        transform: scaleY(0.5);
    }
}